
.edit-profile-modal--form {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
  align-items: center;
  gap: 10px;
}

.edit-profile-modal--form__input {
  display: flex;
  /* gap: 20px; */
}

.edit-profile-modal--form__input label {
  min-width: 100px;
  color: #60779b;
  padding: 10px;
}

.edit-profile-modal--form__input input {
  position: relative;
  padding: 0px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #edf2ff;
  box-shadow: inset 8px 8px 16px #d7dee9, inset 8px 8px 16px #ffffff;
}

.edit-profile-modal--form__input input:focus {
  border: 1px solid #00c3ec;
}

.modal-technology--input {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.modal-technology--input input {
  outline: none;
  cursor: pointer;
  height: 100%;
}

.modal-technology--input input:focus {
  border: 1px solid #00c3ec;
}

.technology-input--arrow-icon {
  position: absolute;
  right: 10px;
}

.technology-input--arrow-icon__active {
  position: absolute;
  right: 10px;
  rotate: calc(180deg);
}

.technologies-list--container {
  gap: 10px;
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 45px;
  z-index: 1;
  background-color: #edf2ff;
  border-radius: 10px;
  height: 190px;
  overflow: auto;
  box-shadow: inset 8px 8px 16px #d7dee9, inset -8px -8px 16px #ffffff;
}

.technologies-list--container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.technologies-list--container li {
  padding: 7px 20px;
  list-style-type: none;
  cursor: pointer;
  color: #60779b;
}

.technologies-list--container li:hover {
  background-color: #ccf6ff;
}

.edit-profile-modal--buttons {
  /* padding: 30px 50px 0px 45px;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px; */
}




.edit-profile-modal--form button:hover {
  background-color: #edf2ff;
  color: black;
  cursor: pointer;
}
